html {
  scroll-behavior: smooth;
}

#barrasopra {
float: right;
margin-right: 20px;
}

.item_menu {

  margin-left: : 10px;
  margin-right: 10px;
}

#prima_pagina {

  background-image: url("./immagini/sfondi/grigio.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  height: 115vh;

}

.elemento_barra {
  border: inset;
  border-color: white;
  border-radius: 30px 30px 30px 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.elemento_barra a {
  color: white !important;
}

.mybar {
  background-color: rgba(0, 0, 0, 0.8);
}

#portfolio {

  height: 135vh;
padding-left: 250px;
padding-right: 250px;
margin-right: 250px;
display: none;
}

#seconda_pagina {

  height: 100vh;
  margin-left:250px;
  padding-right: 250px;
}

#softskills {
  margin-right: 150px;
  height: 100vh;
}

#contatti {

  height: 100vh;
  width: 100% !important;
  margin-left: -150px !important;
}

#lavori {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#sotto_competenze {
  margin-top: 70px;
  margin-bottom: 30px;
  text-align: center;
}

#contattami {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

#chesofare {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}


.col {
  width: 33%;
}

.row   {

margin-bottom: 70px;

}

.qualità{

  background-color: #007fff;
  color: white;
  margin: 60px;
}

#contatti {
  background-color: black;
  height: 15vh;
  text: white;
  font-size: 15px;
  width: 1520px;
  margin-top: 100px;
  margin-left: -250px;
}

.btn {

  width: 40%;
  margin-left: 20px;
  margin-right: 30px;

}

#back_to_top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
}

#spazio {
  height:120px;
}

#barra_mezzo {
  background-color: auto;
  height: 50px;
  justify-content: space-between;

}

#frecciona {
  position: relative;

}

#footer_bar {
    width: 100%;
    /* posizionamento in fondo alla pagina */
    position: fixed;
    bottom: 50px;
    overflow: hidden;



}
#bar_container {
background-color: rgba(0, 0, 0, 0.8);
margin-left: 1100px;
width: 50px;
overflow: hidden;
text-align: center;
}
#bar_container ul li a {
color: white;
display: block;
font-weight: bold;
padding: 10px 0;
text-decoration: none;
width: 150px;
}
#bar_container img:hover {
background-color: #F68529;
}



.exp {
  margin: 15px;

  border-bottom: solid;
  border-color: black;
}


skillBox p {
  color: #fff;
  text-transform: uppercase;
  margin: 0 0 10px;
  padding: 0px;
  font-weight: bold;
  letter-spacing: 1px;

}


.skillBox p:nth-child(2)
{
  float: right;
  position: relative;
  top: -25px;
}

.skill {
  background: #262626;
  padding: 4px;
  box-sizing: border-box;
  border: 1px solid #0fffb7;
  border-radius: 2px;
}
.skill_level {
  background: #0fffb7;
  width: 100%;
  height: 10px
}

.colonna_centrale {
  width: 1020px;
}
.exp_centrale {
  text-align: center;
  margin-top: 40px;
  margin: 30px;
  font-size: 1.4em;


}

.checked {
  color: black;
}

#img img {
  height: 100%;
  width: 100%;
  justify-content: center;
}

body {
  height: 350vh;
}


.blocco_finale {
  height: 100px;
  background-color: black;
  color: white;
  font-size: 1.8em;
  width: 100% !important;
  marg
}

/* PROVIAMO A RENDERE RESPONSIVO TUTTO IL SITO */

.navbar {
  font-size: 1.2em;
  line-height:1.125em;
}

#presentazione {
 font-size: 1.5em;
 line-height: 1.5em;
}

.titoli {
  font-size: 3em;
  line-height: 2.8em;
}

.card-title {
  font-size: 1.4em;
  line-height: 1.4em;

}

.card-text {
  font-size: 1em;
  line-height: 1em

.exp_centrale {

}
